<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>My name is Tran Quoc Dang. I am a researcher and MSc student in Information and Communication Engineering at Chungbuk National University, South Korea. I am passionate about research and development in information and communication technologies, working in my university's lab. With experience in various technologies and research methodologies, I aim to contribute to impactful research projects and advance the field of information and communication engineering.</p>
                    <br>
                    <div class="buttons is-centered">
                        <a href="{{site.url}}{{site.baseurl}}/#contact"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
