<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% if page.layout == 'home' %}{{site.baseurl}}/#{% else %}{{site.baseurl}}/{% endif %}">
                <span class="has-text-primary">></span>_ {{site.title}}
            </a>
            <div class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu" id="navbar-menu" style="background: rgba(255,255,255,0.95)">
            <div class="navbar-end">
                <a class="navbar-item" href="{{site.baseurl}}/#about">ABOUT ME</a>
                <a class="navbar-item" href="{{site.baseurl}}/portfolio">PORTFOLIO</a>
                <a class="navbar-item" href="{{site.baseurl}}/research">RESEARCH</a>
                <a class="navbar-item" href="{{site.baseurl}}/blog">BLOG</a>
                <a class="navbar-item" href="{{site.baseurl}}/#contact">CONTACT</a>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener("click", function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle("is-active");
                    $target.classList.toggle("is-active");
                });
            });
        }
    });
</script>

